.App {
  height: 3000px;
  background: #ffa17f; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #ffa17f,
    #00223e
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #ffa17f,
    #00223e
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

html,
body {
  margin: 0;
  padding: 0;
}
